:root {
  --border: 2px dashed rgba(0, 128, 128, 1.0);
  font-size: 17px;
  line-height: 1.25;
  font-family: Helvetica Neue, Arial, sans-serif;
  --bs-badge-border-radius: 50rem;
  --bs-badge-padding-x: .65em;
  --bs-badge-padding-y: .35em;
  --bs-badge-font-size: .75em;
  --bs-badge-font-weight: 700;
  --bs-badge-color: #fff;
  --tx--padding: .33em .66em;

  --lt-color-gray-100: #f8f9fc;
  --lt-color-gray-400: #c2c9d6;

  --border: 1px var(--lt-color-gray-400) solid;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0 .33em;
}

h1 {
  padding: var(--tx--padding);
}

pre {
  background-color: var(--lt-color-gray-100);
  padding: var(--tx--padding);
  border: var(--border);
  overflow: hidden;
}

.comment {
  border: var(--border);
  margin: .66em .66em;
}



.comment__header {
  font-weight: bold;
  background-color: #f8f9fc;
  padding: var(--tx--padding);
}

.comment[open] > .comment__header {
  border-bottom: var(--border);
}

.comment__body {
  padding: var(--tx--padding);
}




.badge {
  padding: var(--bs-badge-padding-y) var(--bs-badge-padding-x);
  border-radius: var(--bs-badge-border-radius);
  font-size: var(--bs-badge-font-size);
  font-weight: var(--bs-badge-font-weight);
  color: var(--bs-badge-color);
  white-space: nowrap;
  vertical-align: baseline;
  line-height: 1;
  display: inline-block;
}

.badge-success {
  background-color: rgba(25,135,84,1);
}

.badge-obs {
  color: white;
  background-color: #653208; /*$orange-800;*/
}

.badge-ps {
  color: black;
  background-color: #6ea8fe; /*$blue-300;*/
}

.badge-exp {
  color: black;
  background-color: #ffe69c; /*$yellow-200;*/
}

.badge-inf {
  color: white;
  background-color: #fd7e14; /*$orange;*/
}

.badge-ds {
  color: black;
  background-color: #9eeaf9; /*$cyan-200;*/
}

.badge-hist {
  color: white;
  background-color: #495057; /*$gray-700;*/
}

.badge-std {
  color: black;
  background-color: #a6e9d5; /*$teal-200;*/
}

.badge-bcp {
  color: white;
  background-color: #d63384; /*$pink-500;*/
}

.badge-unkn {
  color: black;
  background-color: #dee2e6; /*$gray-300;*/
}

.badge-draft {
  color: white;
  background-color: #dc3545; /*$danger;*/
}
