:root {
  font-size: 17px;
  line-height: 1.25;
  font-family: Helvetica Neue, Arial, sans-serif;
  --tx--padding: .33em .66em;
  --color-gray-100: #f8f9fc;
  --color-gray-300: #dee3ed;
  --color-gray-400: #c2c9d6;
  --color-gray-600: #5e636e;
  --color-white: #fff;
  --color-black: #000;
  --color-green: rgba(25,135,84,1);

  --border: 1px var(--color-gray-400) solid;

  --bs-badge-border-radius: 50rem;
  --bs-badge-padding-x: .65em;
  --bs-badge-padding-y: .35em;
  --bs-badge-font-size: .75em;
  --bs-badge-font-weight: 700;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0 .33em;
}

h1 {
  padding: var(--tx--padding);
}

h1 a {
  color: var(--color-black);
}

pre {
  background-color: var(--color-gray-100);
  padding: var(--tx--padding);
  border: var(--border);
  overflow: hidden;
}

.nobull {
  list-style: none;
}

.pad {
  padding: var(--tx--padding);
}

.users {
  column-count: 5;
}

.comment {
  border: var(--border);
  margin: .66em .66em;
}

.comment__header {
  font-weight: bold;
  background-color: var(--color-gray-100);
  padding: var(--tx--padding);
}

.comment[open] > .comment__header {
  border-bottom: var(--border);
}

.comment__body {
  padding: var(--tx--padding);
}

.comment__banned {
  font-style: italic;
  color: var(--color-gray-600);
}

.badge {
  padding: var(--bs-badge-padding-y) var(--bs-badge-padding-x);
  border-radius: var(--bs-badge-border-radius);
  font-size: var(--bs-badge-font-size);
  font-weight: var(--bs-badge-font-weight);
  white-space: nowrap;
  vertical-align: baseline;
  line-height: 1;
  display: inline-block;
}

.badge-hl {
  color: var(--color-white);
  background-color: var(--color-green);
}

.badge-other {
  color: var(--color-black);
  background-color: var(--color-gray-300);
}
