{% extends "base.html" %}

{% block body %}
<h1>
  {{ home() }} &middot;
  Scrapped {{ stats.total_posts }} comments in {{ stats.total_topics }} topics by {{ stats.total_users }} users
</h1>

<section>
  <ul class="users nobull">
    {% for u in users %}
    <li><strong>{{ u.post_count }}</strong> <a href="/{{ u.name }}">{{ u.name }}</a></li>
    {% endfor %}
  </ul>
</section>

<nav class="pad">
  <center><strong>
    <a href="/?page={{ page-1 }}">prev</a>
    <span>&nbsp;{{ page }}&nbsp;</span>
    <a href="/?page={{ page+1 }}">next</a>
  </strong></center>
</nav>
{% endblock %}
